// Fix for incorrect font style on autocomplete
.autocomplete__option {
  font-size: 16px;
  font-family: "GDS Transport", arial, sans-serif;

  @include govuk-media-query($from: tablet) {
    font-size: 19px;
  }

  strong {
    font-weight: normal;
  }
}
