/*
====================================
this fixes a specificity issue with content__body p selectors
see https://github.com/hmrc/assets-frontend/issues/676
====================================
*/
p.lede {
  font-family: "nta",Arial,sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
}
/*replicate font-xsmall due to ".content p" rule*/
p.font-xsmall{
font-family:"nta",Arial,sans-serif;
font-size:16px;
line-height:1.25;
font-weight:300;
text-transform:none
}
@media (max-width: 640px){
p.font-xsmall{
  font-size:14px;
  line-height:1.14286
  }
}


/*give some space to the hero*/
.hero {
  margin: 1em 0;
}
.hero__heading-large,
.hero__heading-small {
  display: block;
}
.heading-large {
    margin-bottom: 15px;
}

/* CYA padding in line with current GDS */
@media screen and (min-width: 769px) {
  .govuk-check-your-answers > * > * {
    padding-top: 0.53em;
    padding-bottom: 0.53em;
  }
}

.form-hint {
    color: #505a5f;
    margin: 0 0 15px 0;
    padding: 0px;
}

.pb-15 {
    padding-bottom: 15px;
}
.paragraph-bottom {
    padding-bottom: 19px;
}
.mb-05 {
    margin-bottom: 5px !important;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-30 {
    margin-bottom: 30px;
}
.pt-0 {
    padding-top: 0px !important;
}
.extra-heading-margin {
    margin-right: -45px;
}
@media screen and (max-width: 767px) {
   .extra-heading-margin {
          margin-right: 0px;
   }
}
#bank-details .form-hint{
    margin-bottom: 10px;
}
.pr-bottom-margin {
    margin-bottom: 0.3em !important;
}
.heading-xl {
    color: #0b0c0c;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.09375;
    display: block;
    margin-top: 0;
    margin-bottom: 30px;
}
@media (min-width: 40.0625em){
    .heading-xl {
        font-size: 48px;
        line-height: 1.04167;
        margin-bottom: 50px;
    }
}
/* added extra bottom margin for the fieldset header according to project requirement */
.govuk-fieldset__legend--l {
    margin-bottom: 30px;
}
/* reduced top margin for the paragraph text according to project requirement */
.paragraph-top {
    margin-top: -1em;
}
pre#value-summary-list {
    margin-top: 0px;
    font-family: "GDS Transport",arial,sans-serif;
}