/*
====================================
this fixes a specificity issue with content__body p selectors
see https://github.com/hmrc/assets-frontend/issues/676
====================================
*/
p.lede {
  font-family: "nta",Arial,sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
}
/*replicate font-xsmall due to ".content p" rule*/
p.font-xsmall{
font-family:"nta",Arial,sans-serif;
font-size:16px;
line-height:1.25;
font-weight:300;
text-transform:none
}
@media (max-width: 640px){
p.font-xsmall{
  font-size:14px;
  line-height:1.14286
  }
}


/*give some space to the hero*/
.hero {
  margin: 1em 0;
}
.hero__heading-large,
.hero__heading-small {
  display: block;
}
.heading-large {
    margin-bottom: 15px;
}

/* CYA padding in line with current GDS */
@media screen and (min-width: 769px) {
  .govuk-check-your-answers > * > * {
    padding-top: 0.53em;
    padding-bottom: 0.53em;
  }
}

.form-hint {
    color: #505a5f;
    margin: 0 0 15px 0;
    padding: 0px;
}

.pb-15 {
    padding-bottom: 15px;
}
.mb-05 {
    margin-bottom: 5px !important;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-30 {
    margin-bottom: 30px;
}
.extra-heading-margin {
    margin-right: -45px;
}
#bank-details .form-hint{
    margin-bottom: 10px;
}
.pr-bottom-margin {
    margin-bottom: 0.3em !important;
}