$govuk-assets-path: "/apply-for-repayment-of-import-duty-and-import-vat/hmrc-frontend/assets/govuk/";
$hmrc-assets-path: "/apply-for-repayment-of-import-duty-and-import-vat/hmrc-frontend/assets/";
$govuk-new-organisation-colours: true;
@import "lib/hmrc-frontend/hmrc/all";
@import "lib/govuk-frontend/dist/govuk/index";

// Components
@import "media";
@import "upload-loading";

nav.hmrc-language-select {
  float: right;
}

.autocomplete__menu {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
}

.govuk-form-group--error {
  .autocomplete__input {
    border: 2px solid #d4351c;
  }
}

.govuk-panel__body {
  font-size: 2rem;
  overflow-wrap: break-word;
}

.hmrc-user-research-banner__link {
  color: #fff !important;
}